.index-banner{
  .banner-image{
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  .banner-title{
    color: #ffffff;
    margin-top: 0;
    font-size: 31px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
  }
  .banner-subtitle{
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
  }
}
.index-hots{
  background-color: #FFFCF8;
  .nav-item{
    background-color: #ffffff;
  }
  .nav-link{
    color: #000000;
    border: 1px solid #000000;
    &:hover{
      background-color: rgba(180, 57, 0, 0.2);
      border: 1.5px solid #000000;
    }
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-secondary-40);
    background-color: rgba(200, 63, 0, 0.08);
    border: 2px solid var(--bs-secondary-40);
  }

  .card-body{
    padding: 32px 24px 48px 24px;
  }
}

@media (min-width: 768px) {
  .index{
    .banner-image{
      background-position: top 50% right 35%;
    }
  }
}

@media (min-width: 992px) {
  .index{
    .banner-image{
      background-position: center;
    }
    .banner-title{
      margin-top: 184px;
      font-size: 64px;
      line-height: 1.39;
    }
    .banner-subtitle{
      color: #444444;
      letter-spacing: 0.16em;
      text-shadow: none;
    }
  }
}