<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%>

    <h1 class="index-title text-primary-100">我是首頁</h1> -->

    <!-- 測試variable自訂字體大小有沒有套成功 -->
    <h1 class="fs-1">fs-1字體大小61px</h1>
    <h2 class="fs-2">fs-2標題字體大小49px</h2>
    <h3 class="fs-3">fs-3標題字體大小39px</h3>
    <h4 class="fs-4">fs-4標題字體大小31px</h4>
    <h5 class="fs-5">fs-5標題字體大小25px</h5>
    <h6 class="fs-6">fs-6標題字體大小20px</h6>
    <p class="fs-7">fs-7字體大小16px</p>
    <p class="fs-8">fs-8字體大小13px</p>

    <hr>
    
    <!-- 測試variable自訂行高有沒有套成功 -->
    <p class="lh-sm">lh-sm行高1.2(19.2px)</p>
    <h4 class="lh-base">lh-base行高1.5(46.5px)</h4>

    <hr>

    <!-- 測試以下標籤預設字體設定是多少 -->
    <p>p標籤預設大小16px、行高1.5(24px)、字重400</p>

    <ul>
      <li>li標籤預設大小16px、行高1.5(24px)、字重400</li>
      <li>li標籤預設大小16px、行高1.5(24px)、字重400</li>
    </ul>

    <h1>h1標籤預設大小61px、行高1.2(73.2px)、字重400</h1>
    <h2>h2標籤預設大小49px、行高1.2(58.8px)、字重400、字距0.12em(5.88px)</h2>
    <h3>h3標籤預設大小39px、行高1.2(46.8px)、字重400</h3>
    <h4>h4標籤預設大小31px、行高1.2(37.2px)、字重400</h4>
    <h5>h5標籤預設大小25px、行高1.5(37.5px)、字重400、字距0.1em(2.5px)</h5>
    <h6>h6標籤預設大小20px、行高1.5(30px)、字重400</h6>

    <hr>

    <!-- 測試字體大小的rwd斷點有沒有作用 -->
    <p class="fs-lg-4 fs-6">桌面版字體大小31px、手機版字體大小20px</p>

    <!-- <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
