<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="index">
      <section class="index-banner">
        <div class="card border-0 rounded-0">
          <div class="banner-image d-md-inline-block d-none" style="background-image: url('/assets/images/Cover-lg.png');height: 624px;"></div>
          <div class="banner-image d-md-none d-inline-block" style="background-image: url('/assets/images/Cover-sm.png');height: 644px;"></div>
          <div class="container-lg container-fluid card-img-overlay py-10">
            <h1 class="banner-title pb-9 px-lg-0 px-md-2 px-0">長照不煩惱，<br>好厝邊陪你找</h1>
            <p class="banner-subtitle fs-lg-4 fs-md-6 fs-8 px-lg-0 px-md-2 px-0">找機構跟訂飯店<span class="d-xl-inline d-none">，</span><br class="d-xl-none d-block">一樣簡單！</p>
          </div>
        </div>
      </section>
      <section class="index-hots pt-14 pb-11">
        <div class="container">
          <h2 class="text-center mb-9">人氣機構精選</h2>
          <ul class="row nav nav-pills d-flex justify-content-center align-items-center mb-13 fs-6" id="pills-tab" role="tablist">
            <li class="col nav-item" role="presentation" style="max-width: 180px;">
              <button class="nav-link active w-100" id="pills-longTermCareCenter-tab" data-bs-toggle="pill" data-bs-target="#pills-longTermCareCenter" type="button" role="tab" aria-controls="pills-longTermCareCenter" aria-selected="true">長期照顧中心</button>
            </li>
            <li class="col nav-item" role="presentation" style="max-width: 180px;">
              <button class="nav-link w-100" id="pills-restHome-tab" data-bs-toggle="pill" data-bs-target="#pills-restHome" type="button" role="tab" aria-controls="pills-restHome" aria-selected="false">安養中心</button>
            </li>
            <li class="col nav-item" role="presentation" style="max-width: 180px;">
              <button class="nav-link w-100" id="pills-nursingHome-tab" data-bs-toggle="pill" data-bs-target="#pills-nursingHome" type="button" role="tab" aria-controls="pills-nursingHome" aria-selected="false">護理之家</button>
            </li>
            <li class="col nav-item" role="presentation" style="max-width: 180px;">
              <button class="nav-link w-100" id="pills-dayCareCenter-tab" data-bs-toggle="pill" data-bs-target="#pills-dayCareCenter" type="button" role="tab" aria-controls="pills-dayCareCenter" aria-selected="false">日間照顧中心</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-longTermCareCenter" role="tabpanel" aria-labelledby="pills-longTermCareCenter-tab" tabindex="0">
              <div class="row justify-content-center gap-11">
                <div class="col" style="max-width: 336px;">
                  <div class="card border-0 card-shadow">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-01.png?raw=true" class="card-img-top w-100" style="height: 211px;" alt="Kang Le Long Term Care Center">
                    <div class="card-body">
                      <h5 class="card-title mb-2">康樂長照中心</h5>
                      <p class="card-text mb-5">
                        <img src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/c686e8ab8f54332bdd0d43ab1421309a7ffb91e6/assets/images/Icon/Map.svg" alt="map icon">
                        台北市中正區中正路
                      </p>
                      <p class="card-text card-para-truncate" style="height: 72px;">本長照機構設有無障礙設施、專業護理室、康復治療室、活動娛樂區及24小時緊急呼叫系統,提供全方位的照護服務。</p>
                    </div>
                  </div>
                </div>
                <div class="col" style="max-width: 336px;">
                  <div class="card border-0 card-shadow">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-02.png?raw=true" class="card-img-top w-100" style="height: 211px;" alt="Sing Fu Long Term Care Center">
                    <div class="card-body">
                      <h5 class="card-title mb-2">幸福頤養園</h5>
                      <p class="card-text mb-5">
                        <img src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/c686e8ab8f54332bdd0d43ab1421309a7ffb91e6/assets/images/Icon/Map.svg" alt="map icon">
                        台北市中正區中正路
                      </p>
                      <p class="card-text card-para-truncate" style="height: 72px;">幸福頤養園致力於提供長者溫馨舒適的生活環境。我們的設施包括專業護理病房,確保長者健康;康復訓練區,幫助長者維持和提升體能。</p>
                    </div>
                  </div>
                </div>
                <div class="col" style="max-width: 336px;">
                  <div class="card border-0 card-shadow">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-03.png?raw=true" class="card-img-top w-100" style="height: 211px;" alt="An Kang Long Term Care Center">
                    <div class="card-body">
                      <h5 class="card-title mb-2">安康長青之家</h5>
                      <p class="card-text mb-5">
                        <img src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/c686e8ab8f54332bdd0d43ab1421309a7ffb91e6/assets/images/Icon/Map.svg" alt="map icon">
                        台北市中正區中正路
                      </p>
                      <p class="card-text card-para-truncate" style="height: 72px;">安康長青之家提供全面的長期照護服務,專為長者設計。我們擁有全天候護理中心,確保長者隨時能獲得專業照顧;健康膳食區,提供營養均衡的餐點。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      <section class="index-why pt-14 pb-11 bg-primary-20">
        <div class="container">
          <h2 class="text-center mb-8">為何選擇長照好厝邊？</h2>
          <h4 class="text-center mb-13">更便捷的搜尋，更合適的機構</h4>
          <div class="row justify-content-center">
            <div class="col px-2" style="max-width: 368px;">
              <div class="card border-0 text-center">
                <div class="card-body pt-9 pb-10 px-9">
                  <img src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/c05cfb3173696d6d96ec4b0ff35ae09339d41735/assets/images/Vector%20Icon/VI-03.svg" class="w-100 mb-5" style="height: 80px;" alt="Convenient reservation">
                  <h5 class="card-title mb-5 text-secondary-60">便捷預約機構</h5>
                  <p class="card-text text-start fs-6">還在一間一間打電話尋找適合長照機構嗎?長照機構搜尋網提供你更多的選擇,幫您快速搜尋、預約合適機構。</p>
                </div>
              </div>
            </div>
            <div class="col px-2" style="max-width: 368px;">
              <div class="card border-0 text-center">
                <div class="card-body pt-9 pb-10 px-9">
                  <img src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/c05cfb3173696d6d96ec4b0ff35ae09339d41735/assets/images/Vector%20Icon/VI-02.svg" class="w-100 mb-5" style="height: 80px;" alt="Compare various choices">
                  <h5 class="card-title mb-5 text-secondary-60">多樣選擇比較</h5>
                  <p class="card-text text-start fs-6">預約網提供多家長照機構的詳細資訊,讓家屬可以比較服務內容和價格,選擇最適合的機構,確保滿意度。</p>
                </div>
              </div>
            </div>
            <div class="col px-2" style="max-width: 368px;">
              <div class="card border-0 text-center">
                <div class="card-body pt-9 pb-10 px-9">
                  <img src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/c05cfb3173696d6d96ec4b0ff35ae09339d41735/assets/images/Vector%20Icon/VI-01.svg" class="w-100 mb-5" style="height: 80px;" alt="Instant renewing information">
                  <h5 class="card-title mb-5 text-secondary-60">即時資訊更新</h5>
                  <p class="card-text text-start fs-6">預約網會即時更新各長照機構的可用服務和床位資訊,讓家屬和長者隨時掌握最新情況,安排更靈活。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
