<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>機構介紹頁</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
    </head>
    <body class="overflow-x-hidden">
        <%- include('./layout/header'); -%>

        <main>
            <!-- mobile banner -->
            <div class="container-fluid d-lg-none px-0 mb-7">
                <div class="swiper swiper-intro-banner d-lg-none">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                                src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-01.png?raw=true"
                                alt="building"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-18.png?raw=true"
                                alt="bed"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-17.png?raw=true"
                                alt="room"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-15.png?raw=true"
                                alt="bed"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-14.png?raw=true"
                                alt="bed"
                            />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div
                        class="swiper-pagination d-flex gap-2 justify-content-end pe-3"
                    ></div>
                </div>
            </div>
            <!-- header -->
            <div
                class="container pt-lg-14 pb-lg-14 pb-11 pt-0"
                data-aos="fade-right"
                data-aos-duration="1000"
            >
                <!-- banner -->
                <div class="d-flex gap-2 d-none d-lg-flex">
                    <div>
                        <img
                            src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Intro-A/IntroA-01.png?raw=true"
                            class="img-fluid h-100"
                            alt="Intro-A"
                        />
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <img
                            src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Intro-A/IntroA-02.png?raw=true"
                            alt="IntroA-02"
                        />
                        <img
                            src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Intro-A/IntroA-03.png?raw=true"
                            alt="IntroA-03"
                        />
                        <img
                            src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Intro-A/IntroA-04.png?raw=true"
                            alt="IntroA-04"
                        />
                        <img
                            src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Intro-A/IntroA-05.png?raw=true"
                            alt="IntroA-05"
                        />
                    </div>
                </div>

                <!--description -->
                <div class="row mt-lg-11">
                    <div class="col-lg-8 col-12">
                        <div class="d-flex mb-2">
                            <div class="fs-7">
                                15 個評論
                                <img
                                    id="like-icon"
                                    src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Interact%20Icon/Like-01.png?raw=true"
                                    alt="praise"
                                    class="align-bottom"
                                    style="cursor: pointer"
                                />
                                5
                            </div>
                        </div>
                        <h3 class="mb-2">康樂長照中心</h3>
                        <div class="d-flex mb-5 gap-1">
                            <i
                                class="bi bi-geo-alt-fill"
                                style="color: #ea8c55"
                            ></i>
                            <div class="fs-7">台北市中正區中正路</div>
                        </div>
                        <div class="fs-7 mb-5">
                            本長照機構設有無障礙設施、專業護理室、康復治療室、活動娛樂區及24小時緊急呼叫系統,提供全方位的照護服務。
                        </div>
                        <div class="d-flex gap-2 flex-wrap mb-7">
                            <div class="border border-dark rounded-2 py-1 px-2">
                                <img
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Icon/IconBlack/Doctor-B.svg"
                                    alt="doctor"
                                />
                                機構內門診
                            </div>
                            <div class="border border-dark rounded-2 py-1 px-2">
                                <img
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Icon/IconBlack/Shower-B.svg"
                                    alt="shower"
                                />
                                特殊沐浴設備
                            </div>
                            <div class="border border-dark rounded-2 py-1 px-2">
                                <img
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Icon/IconBlack/Bus-B.svg"
                                    alt="bus"
                                />
                                門診接送
                            </div>
                            <div class="border border-dark rounded-2 py-1 px-2">
                                <img
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Icon/IconBlack/Bandaid-B.svg"
                                    alt="band aid"
                                />
                                大傷口照顧
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end col-lg-4 col-12">
                        <a
                            href="#"
                            class="btn btn-primary-40 py-4 w-100 text-white mx-2 mx-lg-0 intro-btn"
                        >
                            預約參訪
                        </a>
                    </div>
                </div>
            </div>

            <!-- service -->
            <div class="bg-primary-10">
                <div class="container pt-lg-14 pb-lg-11 pt-12 pb-12">
                    <h4 class="mb-2">服務內容</h4>
                    <div class="fs-7 mb-7 text-secondary-90">
                        ＊入住者年齡限制：0~59 歲
                    </div>
                    <div class="row g-7">
                        <div
                            class="col-lg-4"
                            data-aos="flip-left"
                            data-aos-duration="500"
                            data-aos-offset="500"
                        >
                            <div
                                class="card w-100 pt-9 pb-10 px-7 rounded-2 border-0 h-100"
                            >
                                <img
                                    class="mx-auto intro-service"
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Vector%20Icon/VI-04.svg"
                                    alt="card"
                                />
                                <div class="card-body">
                                    <h5
                                        class="card-title text-center text-secondary-60"
                                    >
                                        照護項目
                                    </h5>
                                    <p class="card-text">
                                        鼻胃管、導尿管、精神照護、認知障礙（失智）、氣切管、氧氣、復健照護、腫瘤照護（癌症）、透析照護（洗腎）。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-4"
                            data-aos="flip-left"
                            data-aos-duration="500"
                            data-aos-offset="500"
                        >
                            <div
                                class="card w-100 pt-9 pb-10 px-7 rounded-2 border-0 h-100"
                            >
                                <img
                                    class="mx-auto intro-service"
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Vector%20Icon/VI-06.svg.svg"
                                    alt="card"
                                />
                                <div class="card-body">
                                    <h5
                                        class="card-title text-center text-secondary-60 overflow-hidden text-nowrap"
                                    >
                                        醫療服務＆專業照護
                                    </h5>
                                    <p class="card-text">
                                        醫師巡診、鄰近醫院、藥師評估、腫瘤照顧、洗腎接送、營養評估、術後照顧、生活照顧、傷口照顧、如廁訓練、延緩失能。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-4"
                            data-aos="flip-left"
                            data-aos-duration="500"
                            data-aos-offset="500"
                        >
                            <div
                                class="card w-100 pt-9 pb-10 px-7 rounded-2 border-0 h-100"
                            >
                                <img
                                    class="mx-auto intro-service"
                                    src="https://raw.githubusercontent.com/Jack-Xiao-2024/Project_D01/399576c7c8ec60e611e2d35218b94d8f6a92a78b/assets/images/Vector%20Icon/VI-05.svg"
                                    alt="card"
                                />
                                <div class="card-body">
                                    <h5
                                        class="card-title text-center text-secondary-60"
                                    >
                                        政府補助
                                    </h5>
                                    <p class="card-text text-center mb-auto">
                                        老人補助（低收、中低收）、身心障礙、
                                        喘息服務。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 房型費用 start-->
            <div
                class="container pt-lg-14 pb-lg-11 pt-12 pb-12"
                data-aos="fade-right"
                data-aos-offset="700"
                data-aos-easing="ease-in-sine"
            >
                <h4 class="mb-1">房型費用</h4>
                <div class="fs-8 text-secondary-90 mb-7">
                    ＊房型費用不含保證金、耗材及其他相關費用。價格以服務契約為準。
                </div>
                <div class="swiper-intro-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card overflow-hidden intro-rounded">
                                <img
                                    src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-13.png?raw=true"
                                    class="card-img-top object-fit-cover"
                                    alt="room"
                                />
                                <div class="card-body py-4 px-7">
                                    <h5 class="text-center">單人房</h5>
                                    <h6
                                        class="d-flex align-items-center gap-1 justify-content-center"
                                    >
                                        每月
                                        <span
                                            class="h5 align-self-center mb-0 text-secondary-40"
                                            >40,000</span
                                        >
                                        元起
                                    </h6>
                                    <div class="fs-7 text-end mb-1">
                                        剩餘床位：3
                                    </div>
                                    <a
                                        href="#"
                                        class="btn btn-primary-40 py-4 w-100 intro-btn fs-5"
                                    >
                                        預定留床
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card overflow-hidden intro-rounded">
                                <img
                                    src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-16.png?raw=true"
                                    class="card-img-top object-fit-cover"
                                    alt="room"
                                />
                                <div class="card-body py-4 px-7">
                                    <h5 class="text-center">三人房</h5>
                                    <h6
                                        class="d-flex align-items-center gap-1 justify-content-center"
                                    >
                                        每月
                                        <span
                                            class="h5 align-self-center mb-0 text-secondary-40"
                                            >36,000</span
                                        >
                                        元起
                                    </h6>
                                    <div class="fs-7 text-end mb-1">
                                        剩餘床位：3
                                    </div>
                                    <a
                                        href="#"
                                        class="btn btn-primary-40 py-4 w-100 intro-btn fs-5"
                                    >
                                        預定留床
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card overflow-hidden intro-rounded">
                                <img
                                    src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Building/B-16.png?raw=true"
                                    class="card-img-top object-fit-cover"
                                    alt="room"
                                />
                                <div class="card-body py-4 px-7">
                                    <h5 class="text-center">六人房</h5>
                                    <h6
                                        class="d-flex align-items-center gap-1 justify-content-center"
                                    >
                                        每月
                                        <span
                                            class="h5 align-self-center mb-0 text-secondary-40"
                                            >33,000</span
                                        >
                                        元起
                                    </h6>
                                    <div class="fs-7 text-end mb-1">
                                        剩餘床位：6
                                    </div>
                                    <a
                                        href="#"
                                        class="btn btn-primary-40 py-4 w-100 intro-btn fs-5"
                                    >
                                        預定留床
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 機構評價 -->
            <div class="bg-primary-80">
                <div
                    class="container pt-lg-14 pb-lg-11 pt-12 pb-12"
                    data-aos="fade-left"
                    data-aos-offset="700"
                    data-aos-easing="ease-in-sine"
                    data-aos-duration="500"
                >
                    <h4 class="mb-9 text-primary-10">機構評價</h4>
                    <div class="row g-7">
                        <div class="col-md-4 col-12">
                            <div
                                class="gap-7 d-flex flex-column justify-content-between h-100 rounded-top-4 rounded-bottom-start-2 rounded-bottom-end-4 border border-dark bg-white pt-7 pb-8 px-7"
                            >
                                <h6>
                                    參訪樂康頤和園後，我感受到這裡如家的溫暖，設施無障礙且現代化
                                </h6>
                                <div class="d-flex gap-1 align-items-center">
                                    <img
                                        src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/User/Ellipse-04.png?raw=true"
                                        alt="user"
                                        class="intro-user"
                                    />
                                    <div class="fs-7">郭先生</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div
                                class="gap-7 d-flex flex-column justify-content-between h-100 rounded-top-4 rounded-bottom-start-2 rounded-bottom-end-4 border border-dark bg-white pt-7 pb-8 px-7"
                            >
                                <h6>
                                    我參觀了樂康頤和園，發現這裡的護理服務非常周到。
                                </h6>
                                <div class="d-flex gap-1 align-items-center">
                                    <img
                                        src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/User/Ellipse-05.png?raw=true"
                                        alt="user"
                                        class="intro-user"
                                    />
                                    <div class="fs-7">李小姐</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div
                                class="gap-7 d-flex flex-column justify-content-between h-100 rounded-top-4 rounded-bottom-start-2 rounded-bottom-end-4 border border-dark bg-white pt-7 pb-8 px-7"
                            >
                                <h6>
                                    這裡的環境不僅舒適，還有很多促進長者互動的公共區域和活動。
                                </h6>
                                <div class="d-flex gap-1 align-items-center">
                                    <img
                                        src="https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/User/Ellipse-03.png?raw=true"
                                        alt="user"
                                        class="intro-user"
                                    />
                                    <div class="fs-7">王先生</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- remind -->
            <div class="bg-primary-10">
                <div
                    class="container pt-lg-14 pb-lg-11 text-primary-100 pt-12 pb-12"
                >
                    <h4 class="mb-9">貼心提醒！</h4>
                    <ul class="d-flex gap-1 flex-column gap-5">
                        <li class="fs-7">
                            入住者須提供體檢報告，體檢項目請依各機構規定。體檢後約需七個工作天才能領取報告，敬請即早準備。
                        </li>
                        <li class="fs-7">
                            參訪時，請攜帶病歷摘要或相關資料，讓機構可以評估參考。
                        </li>
                        <li class="fs-7">
                            參訪後，需經由機構進行評估、確認可以收住後，才會安排後續入住事宜。
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
            const swiperIntroBanner = new Swiper(".swiper-intro-banner", {
                cssMode: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                loop: true,
            });
            var swiperIntroContainer = new Swiper(".swiper-intro-container", {
                slidesPerView: 1,
                spaceBetween: 24,
                breakpoints: {
                    992: {
                        slidesPerView: 3,
                    },
                },
            });
            //強制加上focus;
            document.addEventListener("DOMContentLoaded", () => {
                const links = document.querySelectorAll("a.intro-btn");
                links.forEach((link) => {
                    link.addEventListener("click", function (e) {
                        e.preventDefault(); // 防止默認的導航行為
                        setTimeout(() => {
                            this.focus();
                            // console.log("Forced focus on:", this);
                        }, 0);
                    });
                });
            });
            //點讚切換
            document.addEventListener("DOMContentLoaded", () => {
                const likeIcon = document.getElementById("like-icon");
                const initialImage =
                    "https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Interact%20Icon/Like-01.png?raw=true"; // 初始圖片
                const likedImage =
                    "https://github.com/Jack-Xiao-2024/Project_D01/blob/dev/assets/images/Interact%20Icon/Like-02.png?raw=true"; // 按讚後的圖片

                likeIcon.addEventListener("click", () => {
                    // 切換圖片
                    if (likeIcon.src.includes(initialImage)) {
                        likeIcon.src = likedImage; // 切換到按讚後的圖片
                    } else {
                        likeIcon.src = initialImage; // 切換回初始圖片
                    }
                });
            });
        </script>
        <%- include('./layout/footer'); -%>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script type="module" src="../main.js"></script>
    </body>
</html>
