<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>預定留床和預約參訪</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

  <%- include('./layout/header'); -%>

  <div class="main">
    <!-- banner -->
    <section class="index-banner">
      <div class="card border-0 rounded-0">
        <div class="banner-image d-md-inline-block d-none" style="background-image: url('/assets/images/Cover-lg.png');height: 624px;"></div>
        <div class="banner-image d-md-none d-inline-block" style="background-image: url('/assets/images/Cover-sm.png');height: 644px;"></div>
        <div class="container-lg container-fluid card-img-overlay py-10">
          <h1 class="banner-title pb-9 px-lg-0 px-md-2 px-0">長照不煩惱，<br>好厝邊陪你找</h1>
          <p class="banner-subtitle fs-lg-4 fs-md-6 fs-8 px-lg-0 px-md-2 px-0">找機構跟訂飯店<span class="d-xl-inline d-none">，</span><br class="d-xl-none d-block">一樣簡單！</p>
        </div>
      </div>
    </section>

    <div class="order-content">
      <div class="container">
        <!-- 頁籤按鈕 -->
        <div class="d-flex justify-content-center mb-9 mb-md-12">
          <ul class="nav nav-pills custom-nav-pills d-flex flex-nowrap" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-order-tab" data-bs-toggle="pill" 
                      data-bs-target="#pills-order" type="button" role="tab" 
                      aria-controls="pills-order" aria-selected="true">
                預定留床
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-visit-tab" data-bs-toggle="pill" 
                      data-bs-target="#pills-visit" type="button" role="tab" 
                      aria-controls="pills-visit" aria-selected="false">
                預約參訪
              </button>
            </li>
          </ul>
        </div>

        <!-- 頁籤內容 -->
        <div class="tab-content tab-style" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab" tabindex="0">
            <!-- 頁籤首頁 -->
            <div class="px-2 mb-11">
              <div class="line-container pt-7 pb-11">
                <div class="circle left-circle"></div>
                <div class="line left-line"></div>
                <div class="circle middle-circle"></div>
                <div class="line right-line"></div>
                <div class="circle right-circle hollow-circle"></div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-dark all-font">全選</button>
              </div>  
            </div>
            <!-- order-card-1 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-07.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">康福護理苑</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">台北市中正區中正路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-3">
                      <p class="fs-8 me-1">預定入住：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="beds fs-7">剩餘床位：<span class="last-bed">3</span></div>
                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">單人房型</p>
                        <p class="romm-price fs-5">NTD 5,000</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- order-card-2 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-05.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">祥和樂年苑</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">新北市中和區中山路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-3">
                      <p class="fs-8 me-1">預定入住：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="beds fs-7">剩餘床位：<span class="last-bed">8</span></div>
                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">三人房型</p>
                        <p class="romm-price fs-5">NTD 5,000</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- order-card-3 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-01.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">樂康頤和園</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">台北市萬華區中華路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-3">
                      <p class="fs-8 me-1">預定入住：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="beds fs-7">剩餘床位：<span class="last-bed">3</span></div>
                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">單人房型</p>
                        <p class="romm-price fs-5">NTD 5,000</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- order-card-4 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-10.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">靜宜護理家園</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">新北市三重區仁愛路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-3">
                      <p class="fs-8 me-1">預定入住：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="beds fs-7">剩餘床位：<span class="last-bed">12</span></div>
                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">六人房型</p>
                        <p class="romm-price fs-5">NTD 5,000</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>           
            <!-- 頁籤尾頁 -->
            <div class="tab-footer d-flex justify-content-center justify-content-md-end mt-3">
              <div class="flex-column">
                <p class="text-end">總金額：<span class="fs-5">10,000</span>元</p>
                <button type="button" class="btn next-btn next-btn-size fs-5 btn-primary-40">下一步</button>
              </div>
           </div>
          </div>

          <div class="tab-pane fade" id="pills-visit" role="tabpanel" aria-labelledby="pills-visit-tab" tabindex="0">
            <!-- 頁籤首頁 -->
            <div class="px-2 mb-11">
              <div class="line-container pt-7 pb-11">
                <div class="circle left-circle hollow-circle"></div>
                <div class="line right-line"></div>
                <div class="circle middle-circle"></div>
                <div class="line left-line"></div>
                <div class="circle right-circle"></div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-dark all-font">全選</button>
              </div>  
            </div>
            <!-- visit-card-1 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-10.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">靜宜護理家園</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">新北市三重區仁愛路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-2">
                      <p class="fs-8 me-1">預定參訪日期：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="d-flex align-items-center">
                        <p class="fs-8 me-1">預定參訪時段：</p>
                        <div class="dropdown">
                          <button class="btn btn-primary-40 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            選擇參訪時段
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">上午時段：10:00~12:00</a></li>
                            <li><a class="dropdown-item" href="#">下午時段：14:00~16:00</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">剩餘床位</p>
                        <p class="romm-price fs-5"><i class="bi bi-house-heart me-1"></i><span class="last-bed">12</span>個</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end mb-10 mb-md-0">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- visit-card-2 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-05.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">祥和樂年苑</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">新北市中和區中山路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-2">
                      <p class="fs-8 me-1">預定參訪日期：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="d-flex align-items-center">
                        <p class="fs-8 me-1">預定參訪時段：</p>
                        <div class="dropdown">
                          <button class="btn btn-primary-40 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            選擇參訪時段
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">上午時段：10:00~12:00</a></li>
                            <li><a class="dropdown-item" href="#">下午時段：14:00~16:00</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">剩餘床位</p>
                        <p class="romm-price fs-5"><i class="bi bi-house-heart me-1"></i><span class="last-bed">8</span>個</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end mb-10 mb-md-0">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- visit-card-3 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-07.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">康福護理苑</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">台北市中正區中正路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-2">
                      <p class="fs-8 me-1">預定參訪日期：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="d-flex align-items-center">
                        <p class="fs-8 me-1">預定參訪時段：</p>
                        <div class="dropdown">
                          <button class="btn btn-primary-40 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            選擇參訪時段
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">上午時段：10:00~12:00</a></li>
                            <li><a class="dropdown-item" href="#">下午時段：14:00~16:00</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">剩餘床位</p>
                        <p class="romm-price fs-5"><i class="bi bi-house-heart me-1"></i><span class="last-bed">3</span>個</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end mb-10 mb-md-0">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- visit-card-4 -->
            <div class="card overflow-hidden mb-11" style="max-width: 1296px;">
              <div class="row g-0">
                <div class="col-lg-5">
                  <div class="checkbox-relative h-100">
                    <img src="https://github.com/Jack-Xiao-2024/Project_D01/blob/main/assets/images/Building/B-01.png?raw=true" class="img-fluid card-img rounded-0 h-100" alt="building">
                    <div class="checkbox-moble">
                      <input class="form-check-input custom-checkbox checkbox-absolute" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="card-body p-4">
                    <!-- infor -->
                     <div class="infor mb-3">
                      <div class="checkbox d-flex justify-content-between mb-2">
                        <h5 class="card-title">樂康頤和園</h5>
                        <div class="checkbox-desk">
                          <input class="form-check-input custom-checkbox" type="checkbox" id="checkboxNoLabel" value="" aria-label="勾選框">
                        </div>
                      </div>
                      <div class="address d-flex">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" fill="#EA8C55"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" fill="#EA8C55"/>
                          <path d="M1 7.92285C1 12.7747 5.24448 16.7869 7.12319 18.3252C7.39206 18.5454 7.52811 18.6568 7.72871 18.7132C7.88491 18.7572 8.1148 18.7572 8.271 18.7132C8.47197 18.6567 8.60707 18.5463 8.87695 18.3254C10.7557 16.7871 14.9999 12.7751 14.9999 7.9233C14.9999 6.08718 14.2625 4.32605 12.9497 3.02772C11.637 1.72939 9.8566 1 8.00008 1C6.14357 1 4.36301 1.7295 3.05025 3.02783C1.7375 4.32616 1 6.08674 1 7.92285Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M6 7C6 8.10457 6.89543 9 8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        <p class="fs-7 ps-1">台北市萬華區中華路</p>
                      </div>
                     </div>
                    <!-- date -->
                    <div class="date d-flex align-items-center mb-2">
                      <p class="fs-8 me-1">預定參訪日期：</p>
                      <div class="calendar">
                        <p class="fs-6">2024/09/24</p>
                          <svg class="d-block" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect y="0.600006" width="28" height="28" rx="14" fill="#FFE8C6"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08008 8.48022C6.08008 8.08258 6.40243 7.76022 6.80008 7.76022H21.2001C21.5977 7.76022 21.9201 8.08258 21.9201 8.48022V22.1602C21.9201 22.5579 21.5977 22.8802 21.2001 22.8802H6.80008C6.40243 22.8802 6.08008 22.5579 6.08008 22.1602V8.48022ZM7.52008 9.20022V21.4402H20.4801V9.20022H7.52008Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 7.40022V9.56022H8.95996V7.40022H10.4Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0396 7.40013V9.56013H17.5996V7.40013H19.0396Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7998 10.6402H21.1998V12.0802H6.7998V10.6402Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.36 13.8802C12.7695 13.8802 11.48 15.1696 11.48 16.7602C11.48 18.3508 12.7695 19.6402 14.36 19.6402C15.9506 19.6402 17.24 18.3508 17.24 16.7602C17.24 15.1696 15.9506 13.8802 14.36 13.8802ZM10.04 16.7602C10.04 14.3743 11.9742 12.4402 14.36 12.4402C16.7459 12.4402 18.68 14.3743 18.68 16.7602C18.68 19.1461 16.7459 21.0802 14.36 21.0802C11.9742 21.0802 10.04 19.1461 10.04 16.7602Z" fill="#A03200"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.28 17.1202V14.9602H14.72V16.4002H16.16V17.8402H14C13.6024 17.8402 13.28 17.5179 13.28 17.1202Z" fill="#A03200"/>
                          </svg>
                      </div>
                    </div>
                    <!-- 床位房型 -->
                    <div class="card-text d-flex justify-content-between align-items-end mb-2">
                      <div class="d-flex align-items-center">
                        <p class="fs-8 me-1">預定參訪時段：</p>
                        <div class="dropdown">
                          <button class="btn btn-primary-40 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            選擇參訪時段
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">上午時段：10:00~12:00</a></li>
                            <li><a class="dropdown-item" href="#">下午時段：14:00~16:00</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="room-info text-end">
                        <p class="room-tylie fs-8">剩餘床位</p>
                        <p class="romm-price fs-5"><i class="bi bi-house-heart me-1"></i><span class="last-bed">3</span>個</p>
                      </div>
                    </div>
      
                    <!-- Button trigger modal -->
                     <div class="d-flex justify-content-end mb-10 mb-md-0">
                      <button type="button" class="btn btn-outline-secondary-40" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-x-lg"></i>
                        <span class="fs-6">刪除</span>
                      </button>
                     </div>
                  </div>
                </div>
              </div>
            </div>                                                   
            <!-- 頁籤尾頁 -->
            <div class="tab-footer d-flex justify-content-center justify-content-md-end mt-3">
              <div class="flex-column">
                <button type="button" class="btn next-btn next-btn-size fs-5 btn-primary-40">下一步</button>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <%- include('./layout/footer'); -%>

  <!-- JS引入 -->
  <script type="module" src="../main.js"></script>

</body>
  <!-- 全部卡片的彈出視窗 -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mx-auto none-border">
          <div class="d-flex flex-column align-items-center">
            <svg class="d-black" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1599_1465)">
              <path d="M48.4336 8.96671V53.3C48.4336 53.9189 48.1878 54.5124 47.7502 54.95C47.3126 55.3875 46.7191 55.6334 46.1003 55.6334H11.1003C10.4815 55.6334 9.88797 55.3875 9.45039 54.95C9.0128 54.5124 8.76697 53.9189 8.76697 53.3V8.96671H48.4336Z" fill="#F7E2D9"/>
              <path d="M8.76697 8.96671H48.4336V15.9667H8.76697V8.96671Z" fill="#EEC2B0"/>
              <path d="M48.4336 8.96671V53.3C48.4336 53.9189 48.1878 54.5124 47.7502 54.95C47.3126 55.3875 46.7191 55.6334 46.1003 55.6334H11.1003C10.4815 55.6334 9.88797 55.3875 9.45039 54.95C9.0128 54.5124 8.76697 53.9189 8.76697 53.3V8.96671H48.4336Z" stroke="#B43900" stroke-width="2.304" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.1 8.96668V4.30001C18.1 3.68117 18.3458 3.08768 18.7834 2.65009C19.221 2.21251 19.8145 1.96667 20.4333 1.96667H36.7666C37.3855 1.96667 37.979 2.21251 38.4166 2.65009C38.8541 3.08768 39.1 3.68117 39.1 4.30001V8.96668" stroke="#B43900" stroke-width="2.304" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.76685 8.96671H55.4335" stroke="#B43900" stroke-width="2.304" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.1 17.1333V45.1333" stroke="#B43900" stroke-width="2.304" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.6 17.1333V45.1333" stroke="#B43900" stroke-width="2.304" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M39.1 17.1333V45.1333" stroke="#B43900" stroke-width="2.304" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_1599_1465">
              <rect width="56" height="56" fill="white" transform="translate(0.599976 0.799988)"/>
              </clipPath>
              </defs>
              </svg>
            <h5 class="modal-title text-secondary-70" id="staticBackdropLabel">刪除機構</h5>
          </div>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <p class="text-center fs-6" style="color: #B0B0B0;">請問確認刪除勾選的機構嗎？</p>
        </div>
        <div class="modal-footer d-flex justify-content-center none-border">
          <button type="button" class="btn modal-btn btn-secondary-40 fs-6 modal-me" data-bs-dismiss="modal">刪除</button>
          <button type="button" class="btn modal-btn btn-outline-secondary-40 fs-6" data-bs-dismiss="modal">保留</button>
        </div>
      </div>
    </div>
  </div>
</html> 